@import "./config/_font";
@import "./config/_variables";
@import "./config/_reset";

@import "./components/header";
@import "./components/footer";
@import "./components/video";
@import "./components/common";
@import "./components/form";
@import "./components/player";

@import "./screens/home";
@import "./screens/watch";
@import "./screens/profile";
@import "./screens/recorder";
@import "./screens/login";

// defaults
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  @include flex-c;
  flex-direction: column;
  background-color: $light;
  background-image: linear-gradient(180deg, rgba(189,226,234,1) 0%, rgba(10,160,185,1) 97%, rgba(3,149,186,1) 100%);
  background-image: url(https://skysurfr.cdn3.cafe24.com/img/resul-mentes-DbwYNr8RPbg-unsplash-min2.jpg);
  background-repeat: repeat;
  background-size: cover;
  color: $dark;
  font-family: $fnt;
  font-weight: normal;
}
main {
  @include flex-c;
  flex-direction: column;
  width:95%;
  max-width: $screen-xl;
  flex: 1 1 calc(100vh - 18rem);
  @media (max-width:$screen-lg) {
    max-width: $screen-md;
  }
  @media (max-width:$screen-md) {
    max-width: $screen-sm;
  }
  @media (max-width:$screen-sm) {
    max-width: 100%;
    padding: $pad-sm;
    flex: 1 1 auto;
  }

  .pageTitle {
    width: 100%;
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: 4rem;
    text-align: center;
    @media (max-width:$screen-sm) {
      padding-bottom: 2rem;
    }
  }
}
