.footer {
  text-align: center;
  padding-top: 2rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  font-weight: lighter;
  width:100%;
  @media (max-width:$screen-lg) {
    max-width: 100%;
    padding: $pad-sm;
  }
  @media (max-width:$screen-md) {
    max-width: 100%;
    padding: $pad-sm;
  }
  @media (max-width:$screen-sm) {
    max-width: 100%;
    padding: $pad-sm;
  }
  p {
    margin-bottom: $pad-md;
  }
  .footer__imgSource {
    margin-top: 3rem;
    padding-bottom: 1rem;
    font-size: 0.6rem;
    opacity: 0.6;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
