header {
  margin-top: 1rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    font-size: 2rem;
    color: $red;
    flex: 1 0 33%;
    display: flex;
  }
  h2 {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 33%;
  }
  nav {
    display: flex;
    flex: 1 0 33%;
    flex-direction: row-reverse;
    ul {
      display: flex;
      justify-content: space-around;
      gap: 2rem;
      font-size: 1rem;
      line-height: 1;
      i {
        font-size: 1.3rem;
      }
    }
  }
}

#search {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem 2rem;
  form {
    position: relative;
    width: 20rem;
    display: flex;
    align-items: center;
    input {
      border: 2px solid $red;
      padding: 0.5rem 2rem;
      border-radius: 1rem;
      width: 100%;
    }
    button {
      position: absolute;
      right: 0.5rem;
      background-color: transparent;
      border:0 none;
    }
  }
}