.home__videoItem {
  @include flex-c;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 100%;  
  article {
    width: 100%;
    .home__videoThumb {
      height: 160px;
      width: 100%;
      background: $white;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
    }
    .home__videoTitle {
      font-weight: bolder;
      font-size: 1.1rem;
      padding: $pad-md 0;
    }
    .home__videoHashtags {
      display: flex;
      width: 100%;
      align-items: flex-start;
      gap: $pad-sm;
      padding-bottom: 10px;
      i {
        font-size: 0.8rem;
        letter-spacing: -0.2px;
        font-weight: normal;
      }
    }
    .home__videoMeta {
      width: 85%;
      font-size: 0.6rem;
      opacity: 0.6;
      line-height: 1.35;
    }
  }
}
