.watch__detail {
  display: flex;
  flex-direction: row;
  gap: $pad-lg;
  width: 100%;
  @media (max-width:$screen-lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width:$screen-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width:$screen-sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}
