.watch__detail {
  @include flex-c;
  flex-direction: column;
  width: 100%;
  max-width: $screen-md;
  @media (max-width:$screen-lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width:$screen-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width:$screen-sm) {
    grid-template-columns: repeat(1, 1fr);
  }
  .watch__smallText {
    @include flex-c;
    font-size: 0.6rem;
    opacity: 0.6;
    margin-top: 5px;
    gap: 5px;
    justify-content: flex-end;
    padding-top: 5px;
    width: 100%;
  }
  .watch__detailText {
    padding: $pad-md 0 0;
    width: 100%;
    p {
      padding-bottom: $pad-md;
      margin-bottom: $pad-md;
      border-bottom: 1px solid $bdr;
    }
    .watch__detailHashtag {
      @include flex-c;
      gap: $pad-sm;
      i {
        font-size: 1rem;
        font-weight: bolder;
        letter-spacing: -0.2px;
      }
    }
    .watch__detailButtons {
      font-size: 0.7rem;
      font-weight: bolder;
    }
  }
  .watch__commentsContainer {
    @include flex-c;
    flex-direction: column;
    width: 100%;
    max-width: $screen-md;
    margin-top: 1.5rem;
    .watch__commentForm {
      position: relative;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      width: 100%;
      margin-top: 2rem;
      gap: $pad-md;
      deepl-inline-translate {
        display: none;
      }
      label {
        position: absolute;
        top: -1.4rem;
        left: 0;
        opacity: 0.9;
        font-size: 0.9rem;
        font-weight: lighter;
      }
      textarea {
        @include flex-c;
        flex: 1 1 80%;
        padding: $pad-sm $pad-lg;
        width: 100%;
        letter-spacing: 0.2px;
        font-size: 0.9rem;
        @include box-shape;
        background-color: rgba($white, 0.7);
        font-family: $fnt;
        &::placeholder {
          color: rgba(0,0,0,0.2);
          font-family: $fnt;
          font-weight: lighter;
        }
      }
      button {
        @include flex-c;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1;
        letter-spacing: -0.5px;
        min-height: 3rem;
        border-radius: 10px;
        border: 1px solid $bdr;
        padding: $pad-sm $pad-lg;
        cursor: pointer;
        i {
          font-size: 1.5rem;
        }
      }
    }
    .watch__commentsList {
      @include flex-c;
      width: 100%;
      margin: $pad-lg 0;
      ul {
        display: flex;
        flex-direction: column;
        gap: $pad-sm;
        width: 100%;
        li {
          @include flex-c;
          justify-content: space-between;
          background-color: $white;
          @include box-shape;
          border-radius: 3rem;
          min-height: 3.51rem;
          .watch__commentText {
            padding: 0.2rem 0 0.2rem 0.6rem;
            font-size: 0.9rem;
          }
          .watch__commentClose {
            display: flex;
            cursor: pointer;
            color: red;
            font-size: 0.9rem;
            opacity: 0.7;
            flex: 0 1 1rem;
            padding: .5rem 1rem;
          }
        }
      }
    }
  }
}
