include mixins/message
doctype html
html(lang="ko")
  head
    if pageTitle
      title #{pageTitle} | SkyTube
    else
      title SkyTube
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    link(rel="stylesheet", href="/dist/css/style.css")
    if pageTitle === "Video Recorder"
      style body { background-image: linear-gradient(-120deg, rgba(189,226,234,1) 0%, rgba(10,160,185,1) 97%, rgba(3,149,186,1) 100%); }
  body
    if messages.error
      +messages("error", messages.error)
    if messages.info
      +messages("info", messages.info)
    if messages.success
      +messages("success", messages.success)
    include partials/header
    main
      h2.pageTitle=pageTitle
      block content
    include partials/footer
    block scripts
    script(src="/dist/js/main.js") 