html(lang="ko")
  head
    if pageTitle
      title #{pageTitle} | SkyTube
    else
      title SkyTube
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    link(rel="stylesheet", href="/dist/css/style.css")
  body 
    include partials/header
    main
      h2.pageTitle=pageTitle
      block content
    include partials/footer
    block scripts
    script(src="/dist/js/main.js") 