extends base.pug

block content
  h4 Update Video
  form.form__inputPost(method="POST")
    input(name="title",placeholder="Title", type="text", required, maxlength=80, value=video.title)
    input(name="desc",placeholder="Description", type="text", required, minlength=20, maxlength=255, value=video.desc)
    input(name="hashtags",placeholder="Hashtags, separated by comma.", type="text", required, value=video.hashtags.join())
    input(type="submit", value="Edit Video")