extends base

block content
  form(method="POST")
    if errorMessage
      p=errorMessage
    label(for="loginUsername") User Name
    input(id="loginUsername",name="username",type="text",required,placeholder="")
    label(for="loginPassword") Password
    input(id="loginPassword",name="password",type="password",required,placeholder="")
    input(type="submit" value="Login") 
    br
    a(href="/users/github/start") Continue with GitHub &rarr;
  hr
  div
    span Don't have an account?
    br
    a(href="/join") Create account &rarr;
