extends base

block content
  form.form__inputPost(method="POST")
    if errorMessage
      p.error__message=errorMessage
    label(for="loginUsername") User Name
    input(id="loginUsername",name="username",type="text",required,placeholder="Enter User Name")
    label(for="loginPassword") Password
    input(id="loginPassword",name="password",type="password",required,placeholder="Enter Password")
    input(type="submit" value="Login") 
    br
    a.btn__social(href="/users/github/start")
      i.fab.fa-github
      span  Continue with GitHub &rarr;
  hr
  div
    span Don't have an account?
    div.btn__groups
     a(href="/join") Create account &rarr;
