extends base.pug

block content
  p=video.desc
  small=video.createdAt
  aside
    menu
      li
        a(href=`${video._id}/edit`) Edit Video &rarr;
      li
       a(href=`${video._id}/delete`) Delete Video &rarr;