

footer 
  aside
    form(action="/search")
      input(placeholder="Search by title",name="keyword", type="text", required, value="")
      input(type="submit" value="Search")
  p &copy; #{new Date().getFullYear()} WeTube