header
  a(href="/").header__logo
    h1
      i.fab.fa-youtube
      span SkyTube
  div#search
    form(action="/search")
      input(placeholder="Search by title",name="keyword", type="text", required, value="")
      button.fas.fa-search(type="submit")
  nav
    ul 
      li
      if loggedIn
        li
          a(href="/videos/upload")
            i.fas.fa-cloud-upload-alt
        li
          a(href=`/users/${user._id}`) #{user.username}'s Profile
        li
          a(href="/users/logout") Logout
      else
        li
          a(href="/join") Join
        li
          a(href="/login") Login