$fnt: "Spoqa Han Sans Neo", "Noto Sans KR", system-ui, sans-serif;
$coding : ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

$bg:#282828;
$dark: #3C3C3C;
$light: #EDEDED;
$white: #fff;
$red:#CC0000;

$screen-xl: 1280px;
$screen-lg: 1024px;
$screen-md: 768px;
$screen-sm: 640px;
$pad-lg: 1.5rem;
$pad-md: 1rem;
$pad-sm: 0.75rem;

$bdr: rgba(0,0,0,0.15);

@mixin flex-c {
  display: flex;
  align-items: center;
}

@mixin box-shape {
  color: $dark;
  background-color: $light;
  border: 1px solid rgba(0,0,0,0.1);
  padding: $pad-sm $pad-lg;
  border-radius: $pad-sm;
  box-shadow: inset 2px 2px 1px $white, inset 4px 4px 3px rgba(0,0,0,0.01), 1px 1px 1px rgba(255,255,255,0.8), 2px 2px 2px rgba(0,0,0,0.75);
  &:hover,
  &:focus,
  &:active {
    box-shadow: inset -1px -1px 1px $white, inset 1px 1px 1px $bg;
  }
  &:disabled,
  &.disabled {
    color: rgba( $dark, 0.7);
    box-shadow: inset 2px 2px 1px $white, inset 4px 4px 3px rgba(0,0,0,0.01), 1px 1px 1px rgba(255,255,255,0.8), 2px 2px 2px rgba(0,0,0,0.75);
  }
}
