extends ../base
include ../mixins/video

block content
  section.profile__view
    if user.avatarUrl
      div
        img(src=`${user.avatarUrl}`,alt="Avatar Image",width="200")
    ul
      li Email : #{userInfo.email}
      li Full Name : #{userInfo.fullname}
      li Location : #{userInfo.location}
  if String(userInfo._id) === String(user._id)
    div.btn__groups
      a(href=`/users/edit`) Edit User Profile &rarr;
  hr
  if userInfo.videos[0] && (String(userInfo.videos[0].owner._id) === String(user._id))
    if userInfo.videos
      div.home__videoList
        each video in userInfo.videos
          +video(video)
    else
      div.empty__message No Videos Found.